<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :english_description %><br>
    <%= f.text_field :english_description %>
  </div>
  <div class="field">
    <%= f.label :portuguese_description %><br>
    <%= f.text_area :portuguese_description %>
  </div>
  <div class="field">
    <%= f.label :boxshot %><br>
    <%= f.text_field :boxshot %>
  </div>
  <div class="field">
    <%= f.label :released %><br>
    <%= f.check_box :released %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
