<h1><%=t(:games)%></h1>


  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t(:name) %></th>
        <th><%= t(:english_description) %></th>
        <th><%= t(:portuguese_description) %></th>
        <th><%= t(:boxshot) %></th>
        <th><%= t(:released) %></th>
        <th>Sku</th>
        <th><%= t(:category) %></th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.english_description %></td>
          <td><%= game.portuguese_description %></td>
          <td><%= game.boxshot %></td>
          <td><%= t(game.released.to_s) %></td>
          <td><%= game.sku %></td>
          <td><%= Category.find(game.category).translated_name %></td>
          <td><%= link_to t(:show), game %></td>

          <% if is_admin? %>
           <td><%= link_to t(:edit), edit_game_path(game) %></td>
           <td><%= link_to t(:destroy), game, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
