

<div class="container">

  <div class="row">

    <div class="col-sm-6">
      <%= image_tag(@game.boxshot,class: 'img-responsive img-rounded')%>
    </div>

    <div class="col-sm-6">
    <p>
      <strong><%= t(:name)+':'%></strong>
      <%= @game.name %>
    </p>

    <p>
      <strong><%= t(:description)+':'%></strong>
        <%if cookies[:locale] == 'pt'%>
         <%= @game.portuguese_description %>
        <%else%>
          <%= @game.english_description %>
        <%end%>
    </p> 

    <% if is_admin? %>
      <p>
        <strong><%= t(:released)+':'%></strong>
        <%= t(@game.released.to_s) %>
      </p>

      <p>
        <strong>Sku:</strong>
        <%= @game.sku %>
      </p>

      <p>
        <strong><%= t(:category)+':'%></strong>
        <%= Category.find(@game.category).translated_name %>
      </p>

    
      <%= link_to t(:edit), edit_game_path(@game), class: "btn-primary" %> 
    <%end%>
   
  </div>

</div>
  
  
</div>


